.wrapper {
	
	width: 500px;
	padding: 16px;

	gap: 24px;
	
	border-radius: 16px;
	background: var(--white);
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}

.title{
	margin: 0;
}

.inputs {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	margin: 16px 0 24px;
}

.nav {
	margin-top: 16px;

	text-align: center;

	
}
.nav >a {
	color: var(--violet);
}