.button {
	align-self: center;

	padding: 8px 0;

	color: var(--white);
	text-align: center;

	background-color: var(--violet);
	border: 1px solid var(--white);
	border-radius: 8px;
	
	transition: opacity 0.3s ease;

}

.large{
	width: 100%;	
}

.medium{
	width: 170px;	
}

.small{
	width: 100px;	
}

.arrow {
	display: inline-block;

	padding-top: 6px;
	margin-left: 8px;
}