.header {
	min-height: 265px;
	color: var(--white);
	background-color: var(--violet)
}

.wrapper{
	display: grid;
		grid-template-areas:
			'back content . exit'
			'. content . .';
		justify-items: center;
		margin: 0 auto;
		padding-top: 32px;
}

.back {
	grid-area: back;
	
}
.exit {
	grid-area: exit;
	justify-self: end;
	margin-right: 80px;
}

@media screen and (max-width: 640px) {
	.wrapper {
		grid-template-areas:
				'back . exit'
				'. content .'
				'. content .';
			padding: 12px 0;
	}	

	.back{		
		justify-items: baseline;
		border: none;
		width: 40px;
		height: 40px;

		&::after {
			content: url(./arrow-left.svg);			
		}
	}
	.exit{
		margin-right: 16px;
		border: none;
		width: 40px;
		height: 40px;
		padding: 0px;

		&::after {				
			content: url(./exit.svg);					
		}
	}

}